.temperature-form {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.temperature-form__group {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.temperature-form__submit-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.temperature-form__submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.temperature-form__label {
  margin-right: 20px;
  width: 250px;
}

.temperature-form__error {
  margin-left: 20px;
}
